# Created by .ignore support plugin (hsz.mobi)
.idea
scrumboard/scrumboard-server/.gitignore
scrumboard/scrumboard-server/.mvn/
scrumboard/scrumboard-server/mvnw
scrumboard/scrumboard-server/mvnw.cmd
scrumboard/scrumboard-server/target
scrumboard/scrumboard-client/dist
scrumboard/scrumboard-client/node_modules
scrumboard/scrumboard-client/etc
scrumboard/scrumboard-client/node
.DS_Store
scrumboard-server/scumboard-server.iml
scrumboard-client/scumboard-client.iml